extends ../layouts/application.pug

block content
  table.table.table-stripped
    tbody
      tr
        td
          strong #
        td= task.id
      tr
        td
          strong Name
        td= task.name
      tr
        td
          strong Description
        td= task.description
      tr
        td
          strong Status
        td= task.taskStatus.name
      tr
        td
          strong Creator
        td= task.creator.fullName
      tr
        td
          strong Assigned to
        td= task.assignedTo.fullName
      tr
        td 
          strong Created at
        td= task.created
      tr
        td 
          strong Updated at
        td= task.updated